/* --css reset-- */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* --CSS Variables-- */

  :root{
/* --fonts-- */
    --font-family:'Bai Jamjuree', sans-serif;
    --font-size:18px;

/* --primary-colors */
    --strong-cyan:hsl(171, 66%, 44%);
    --light-Blue: hsl(233, 100%, 69%);
    
    /*--Neutral--*/
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);

  }

  #main-content{
    background-color:#fff;
    font-family: var(--font-family);
    font-size: var(--font-size);
  }
  section{
     margin: 0rem 2rem;

  }
  h1{
    font-size: 1.5rem; 
    color: var(--dark-grayish-blue);
  }
  p{
    color:var(--grayish-blue);
    font-size: 1rem;
  }

    .header{
    position: relative;
    margin: 0px;
    object-fit: contain;  
  }
  
  .header img{
     width: 100%;
    object-fit: contain;
  }
  
  
  .logo{
     position: absolute;
    top: 16rem;
    left: 13rem; 
    

  }
   .logo img{
     object-fit: contain;
    height: 6rem;  
  }
  section.content2{
    margin-bottom: 5rem;
    

  }
  .ph1{
    text-align: center;
  }
  button{
    display: block;
    width: 100%;
    border-radius: 28px;
    color: #fff;
  }
  .buttons .ios{
    background-color: var(--strong-cyan);
    padding: 10px;
    border:none;
    margin: 1.5rem 0rem;
    box-shadow: 0px 5px 12px -3px var(--strong-cyan)
  }

  .buttons .mac{
    background-color: var(--light-Blue);
    padding: 10px;
    border:none;
    box-shadow: 0px 5px 12px -3px var(--light-Blue)
  }
section.content3{
    margin-bottom: 5rem;
}
  
  .computer1{
    margin: 3rem 0rem;
  }
.list{
    
    text-align: center;
}
.list ul li{
    list-style-type: none;
    margin: 2rem 0rem;
}
.list ul{
    padding: 0;
}

section.content4{
    margin-bottom: 5rem;
}
.content4 .ph1{
    text-align: center;
    margin-bottom: 2rem;
}
.computer2{
    box-shadow:0px 40px 30px -30px var(--grayish-blue);
}

section.content5{
    margin-bottom: 4rem;
    display: grid;
    gap: 2rem;
}
.container1{
    display: grid;
     margin:2rem 0rem;
     gap: 15px;
     text-align: center; 
    justify-items: center;
}

aside.companies{
    display: grid;
    gap: 2rem;
    justify-items: center;
    margin-bottom: 6rem;
}

.companies img{
    object-fit: contain;
    height: 1.5rem;
    margin: 0;
    padding: 0;
}

footer{
    background-color:rgb(213, 224, 224);
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding: 0;
}
.image2{
    object-fit: contain;
    height: 3rem;
    margin-top: 5rem;
    padding: 0;
    
}
.icons img{
    object-fit: contain;
    height: 20%;
    margin-top: 2rem;
    padding: 0;
    
}

.footer ul li{
    list-style: none;
}
.footer li a{
     text-decoration: none;
     color: var(--grayish-blue);
}
.footer li a:hover{
color: var(--strong-cyan);
}
footer ul{
    margin: 0px; 
    display: grid;
    gap: 1rem;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 0px;
    
}
.icons img:hover{
    background-color: var(--strong-cyan);
}


/* --media query */

@media screen and (min-width:650px){
     .header{
    content: url(images/bg-header-desktop.png);
     }
    .logo{
           top: 8rem;
           left: 19rem; 
    }
}
@media screen and (min-width:760px){
    .logo{
        left: 24rem;
    }
    section{
        margin: 0rem;
    }
    .buttons{
        display:flex;
        
        gap: 10px;
        justify-content: center;


    }
    .buttons .ios{
        background-color: var(--strong-cyan);
        padding: 10px 0px;
        border:none;
        margin: 1.5rem 0rem;
        flex-basis: 15rem;
        box-shadow: 0px 5px 12px -3px var(--strong-cyan)
      }
    
      .buttons .mac{
        background-color: var(--light-Blue);
        padding: 10px;
        border:none;
        flex-basis: 15rem;
        margin: 1.5rem 0rem;
      }

section.content2{
    margin:0rem 10rem 4rem 10rem;

}


section.content3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 3rem;
    margin-bottom: 0rem;

}

.content3 .ph1{
grid-column: 1/4;
grid-row: 1/2;
margin: 0rem 10rem;
}
  .computer1{
    transform: translateX(-20px);
    grid-column: 1/2;
    grid-row: 2/3;
  }

.list{
    grid-column: 2/4;
    grid-row: 2/4;
    text-align: start;
    margin:0rem 10rem 0rem 0rem;
}
.list h1{
    font-size: 1.1rem;
}

section.content4{
    margin:0rem 10rem 7rem 10rem;
}
.content5 .ph1{
    margin:0rem 10rem 0rem 10rem;;
}
.container{
    display: flex;
    flex-grow: 1;
    gap: 10px;
    margin:0rem 7rem; 
}
 
aside.companies{
    display: flex;
    margin:0rem 7rem;
    margin-bottom: 6rem;
    gap: 4rem;
    justify-content: space-around;
}
.companies img{
    object-fit: contain;
    height: 1.5rem;
}

footer{
      display: flex;  
     flex-direction: row;
     padding: 30px; 
     gap: 5rem;
     align-items: center;
     box-sizing: border-box;
    
    

}



.image2{
        object-fit: contain;
        height: 8rem;
        margin: 0px;
        padding: 0px;
}

.unlist{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    gap: 2rem;
}

.unlist .privacy{
    grid-column: 2/3;
}
.unlist .install{
    grid-column: 3/4;
}
.unlist .contact{
    grid-column: 1/2;
    grid-row: 2/3;
}
.unlist .press{
    grid-column:2/3;
    grid-row: 2/3;
}
.icons img{
    height: 1.2rem;
}
}

 

@media screen and (min-width:1050px){
    .logo{
        left: 38rem;
     }
    


    }













